<div class="container about">
    <div class="row justify-content-md-center">
      <div class="col-8 blogcontent">
  
        <h1><%-page.title %></h1>
  
        <h2 class="hidden"><%-page.subtitle %></h2>

        <%- page.content %>

        <script type="application/ld+json">
          { "@context": "http://schema.org", 
          "@type": "BlogPosting",
          "headline": "<%- page.title %>",
          "genre": "technology", 
          "datePublished": "<%- page.date.toISOString() %>",
          "dateCreated": "<%- page.date.toISOString()  %>",
          "dateModified": "<%- page.date.toISOString() %>",
          "publisher": {
            "@type": "Organization",
            "name": "LeeBoonstra",
            "logo": "<%- config.url %>/images/screen.png"
          },
          "description": "<%- page.description %>",
          "mainEntityOfPage": "<%- page.permalink %>",
          "image": "<%- config.url %>/images/screen.png",
          "articleBody": "<%- page.description %>",
          "author": {
            "@type": "Person",
            "name": "Lee Boonstra",
            "url": "https://www.leeboonstra.dev/about/"
          }
          }
          </script>
          <script type="application/ld+json">
            {
             "@context": "https://schema.org/",
             "@type": "WebPage",
             "name": "<%= page.title %>",
             "speakable":
             {
              "@type": "SpeakableSpecification",
              "xpath": [
                "/html/head/title",
                "/html/head/meta[@name='description']/@content"
                ]
              },
             "url": "https://www.leeboonstra.dev/about/"
             }
          </script>
  
      </div>
      <div class="col-4 photocol">
        <div class="card shadow sidebar">
          <div class="card-body">
            <h3 class="card-title">Photo's</h3>
            <a href="/images/large_leeboonstra_new.jpg">
              <picture>
                <source srcset="/images/small_leeboonstra_new.webp 200w">
                <img src="/images/small_leeboonstra_new.jpg" class="rounded mx-auto d-block" alt="Lee Boonstra, Developer Relations Engineer and public speaker." />
              </picture>
            </a>

            <h3 class="card-title mt-4">Social Links</h3>
            <ul class="list-unstyled">
              <li class="mb-2"><a href="https://github.com/savelee/" target="_blank" rel="noreferrer noopener" class="text-decoration-none">Github (savelee)</a></li>
              <li class="mb-2"><a href="https://www.leeboonstra.dev" target="_blank" rel="noreferrer noopener" class="text-decoration-none">Blog (www.leeboonstra.dev)</a></li>
              <li class="mb-2"><a href="https://www.linkedin.com/in/leeboonstra/" target="_blank" rel="noreferrer noopener" class="text-decoration-none">LinkedIn (leeboonstra)</a></li>
              <li class="mb-2"><a href="https://www.leeboonstra.dev/speaker" target="_blank" rel="noreferrer noopener" class="text-decoration-none">Past speaking events</a></li>
              <li class="mb-2"><a href="https://www.leeboonstra.dev/videos" target="_blank" rel="noreferrer noopener" class="text-decoration-none">Videos of me</a></li>
              <li class="mb-2"><a href="https://www.leeboonstra.dev/images/lee.boonstra-resume.pdf" target="_blank" class="text-decoration-none">Download my resume</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
