 <% if (index){ %>
    <% if (highlight){ %>
    <div class="card w-75 p-2 float-md-left tall">
      <div class="shadow-sm">
        <% if (post.featured_image){ %>
          <img class="card-img-top" src="<%- post.featured_image %>" alt="<%-post.title-%>">
        <% } %>
        <div class="card-header">
          <span>by Lee Boonstra in </span><%- partial('post/category') %>
          <span class="date"><%- partial('post/date', {class_name: 'article-date', date_format: 'MMM Do YYYY'}) %></span>
        </div>
        <div class="card-body">
          <%- partial('post/title', {class_name: 'article-title'}) %>
            <p class="card-text"><%-post.excerpt-%></p> 
        </div>
        <div class="card-foot">
          <a href="<%- url_for(post.path) %>" class="btn btn-primary stretched-link">Read more</a>
        </div>
      </div>
    </div>
    <div class="card w-25 p-2 float-md-left tall">
    <div class="shadow-sm">
      <div class="card-body">
        <%- partial('_partial/profile') %>
      </div>
    </div>
  </div>
    <% } else { %>   
    <div class="card w-25 p-2 float-md-left">
      <div class="shadow-sm">
        <% if (post.featured_image){ %>
          <img class="card-img-top" src="<%- post.thumbnail %>" alt="<%-post.title-%>">
        <% } %>
        <div class="card-header">
          <span>by Lee Boonstra in </span><%- partial('post/category') %>
          <span class="date"><%- partial('post/date', {class_name: 'article-date', date_format: 'MMM Do YYYY'}) %></span>
        </div>
        <div class="card-body">
          <%- partial('post/title', {class_name: 'article-title'}) %>
          <% if (highlight){ %>
            <p class="card-text"><%- truncate(post.excerpt, {length: 300, omission: '...'}) %></p> 
          <% } else { %>
          <p class="card-text"><%- truncate(post.excerpt, {length: 100, omission: '...'}) %></p>
          <% }%>
        </div>
        <div class="card-foot">
          <a href="<%- url_for(post.path) %>" class="btn btn-primary stretched-link">Read more</a>
        </div>
      </div>
    </div>
    <% }%>
 <% } else { %>
  <div class="container">
    <div class="row justify-content-md-center">
      <article class="col-8 blogcontent">
        <h1><%= post.title %></h1>
        <div class="header">
          <span>by Lee Boonstra in </span><%- partial('post/category') %>
          <span class="date"><%- partial('post/date', {class_name: 'article-date', date_format: 'MMM Do YYYY'}) %></span>
 
          <a href="https://twitter.com/intent/tweet" 
          class="twitter-share-button btn" data-text="<%-post.title-%> #Dialogflow #GCP by @ladysign" data-related="" data-lang="en" data-show-count="false">Tweet</a>

          <a href="https://twitter.com/ladysign?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-text="I like this." data-related="" data-lang="en" data-show-count="false">Follow @ladysign</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        </div>
        <%- post.content %>
      </article>
      <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "NewsArticle",
          "mainEntityOfPage": {
            "@type": "WebPage",
            "@id": "<%- post.permalink %>"
          },
          "headline": "<%- post.title %>",
          "image": [
            "<%- post.thumbnail %>"
           ],
           "datePublished": "<%- post.date.toISOString() %>",
           "dateModified": "<%- post.date.toISOString() %>",
          "author": {
            "@type": "Person",
            "name": "Lee Boonstra"
          },
           "publisher": {
            "@type": "Organization",
            "name": "Lee Boonstra",
            "logo": {
              "@type": "ImageObject",
              "url": "<%- config.url %>/images/screen.jpg"
            }
          }
        }
        </script>
  </div>
</div>
 <% } %>



