 <% if (index){ %>
    <% if (highlight){ %>
    <div class="card w-75 p-2 float-md-left tall">
      <div class="shadow-sm">
        <% if (post.featured){ %>
          <picture>
            <source srcset="/images/large_<%- post.featured %>.webp" media="(min-width: 1000px)">
            <source srcset="/images/medium_<%- post.featured %>.webp" media="(min-width: 500px)">
            <source srcset="/images/thumb_<%- post.featured %>.webp" media="(max-width: 499px)">
            <img class="card-img-top" src="/images/thumb_<%- post.featured %>.png" alt="<%-post.title-%>">
          </picture>
        <% } %>
        <div class="card-header">
          <span>by Lee Boonstra in </span><%- partial('post/category') %>
          <span class="date"><%- partial('post/date', {class_name: 'article-date', date_format: 'MMM Do YYYY'}) %></span>
        </div>
        <div class="card-body">
          <%- partial('post/title', {class_name: 'article-title'}) %>
            <div class="card-text"><%-post.excerpt-%></div> 
        </div>
        <div class="card-foot">
          <a href="<%- url_for(post.path) %>" class="btn btn-primary">Continue Reading</a>
        </div>
      </div>
    </div>
    <div class="card w-25 p-2 float-md-left tall">
    <div class="shadow-sm">
      <div class="card-body">
        <%- partial('_partial/profile') %>
      </div>
    </div>
  </div>
    <% } else { %>   
    <div class="card w-25 p-2 float-md-left">
      <div class="shadow-sm">
        <% if (post.featured){ %>
          <picture>
            <source srcset="/images/thumb_<%- post.featured %>.webp">
            <img class="card-img-top" src="/images/thumb_<%- post.featured %>.png" alt="<%-post.title-%>">
          </picture>
        <% } %>
        <div class="card-header">
          <span>by Lee Boonstra in </span><%- partial('post/category') %>
          <span class="date"><%- partial('post/date', {class_name: 'article-date', date_format: 'MMM Do YYYY'}) %></span>
        </div>
        <div class="card-body">
          <%- partial('post/title', {class_name: 'article-title'}) %>
          <% if (highlight){ %>
            <p class="card-text"><%- truncate(post.excerpt, {length: 300, omission: '...'}) %></p> 
          <% } else { %>
          <p class="card-text"><%- truncate(post.excerpt, {length: 100, omission: '...'}) %></p>
          <% }%>
        </div>
        <div class="card-foot">
          <a href="<%- url_for(post.path) %>" class="btn btn-primary">Continue Reading</a>
        </div>
      </div>
    </div>
    <% }%>
 <% } else { %>
  <div class="container">
    <div class="row justify-content-md-center">
      <article class="col-8 blogcontent">
        <h1><%= post.title %></h1>
        <div class="header">
          <span class="date"><%- partial('post/date', {class_name: 'article-date', date_format: 'MMM Do YYYY'}) %></span>
          <span>by Lee Boonstra in </span><%- partial('post/category') %>

          <script src="https://platform.linkedin.com/in.js" type="text/javascript">lang: en_US</script>
          <script type="IN/Share" data-url="<%- post.permalink %>"></script>

          <a href="https://twitter.com/intent/tweet" 
          class="twitter-share-button btn" data-text="<%-post.title-%> #Dialogflow #GCP by @ladysign" data-related="" data-lang="en" data-show-count="false">Tweet</a>

          <a href="https://twitter.com/ladysign?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-text="I like this." data-related="" data-lang="en" data-show-count="false">Follow @ladysign</a>
          <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>

        </div>
        <%- post.content %>

        <% if (page.related_posts && page.related_posts.length > 0) { %>

        <%
        function getLinkTitle(path){
          path = path.replace('/', ': ');
          path = path.replace('/', '');
          path = path.replace(/-/g, ' ');
          return path;
        }
        %>

          <section>
              <h2>Related posts</h2>
              <ul class="relatedPosts">
              <% for (const path of page.related_posts) { %>
                  <% const url = url_for(path) %>
                  <% if (url) { %>
                      <li><a href="<%= url %>"><%- getLinkTitle(path) %></a></li>
                  <% } %>
              <% } %>
              </ul>
          </section>
        <% } %>
      </article>

      <script type="application/ld+json">
        {
         "@context": "https://schema.org/",
         "@type": "WebPage",
         "name": "<%= post.title %>",
         "speakable":
         {
          "@type": "SpeakableSpecification",
          "xpath": [
            "/html/head/title",
            "/html/head/meta[@name='description']/@content"
            ]
          },
         "url": "<%- url_for(post.path) %>"
         }
      </script>
  
      <%
      post.categories.forEach(function(item){
        if (item.name == "Videos") {
      %>
          <script type="application/ld+json">
            {
              "@context": "https://schema.org",
              "@type": "VideoObject",
              "name": "<%= post.title %>",
              "description": "Video: <%= post.description %>",
              "thumbnailUrl": [
                "https://img.youtube.com/vi/<%= post.youtube %>/default.jpg",
                "https://img.youtube.com/vi/<%= post.youtube %>/0.jpg",
                "https://img.youtube.com/vi/<%= post.youtube %>/sddefault.jpg",
                "https://img.youtube.com/vi/<%= post.youtube %>/mqdefault.jpg",
                "https://img.youtube.com/vi/<%= post.youtube %>/hqdefault.jpg",
                "https://img.youtube.com/vi/<%= post.youtube %>/maxresdefault.jpg"
               ],
              "uploadDate": "<%- post.date.toISOString() %>",
              "contentUrl": "https://www.youtube.com/watch?v=<%= post.youtube %>",
              "embedUrl": "https://www.youtube.com/embed/<%= post.youtube %>"
            }
          </script>
          <script type="application/ld+json">
            {
              "@context": "https://schema.org",
              "@type": "BreadcrumbList",
              "itemListElement": [{
                "@type": "ListItem",
                "position": 1,
                "name": "Videos",
                "item": "https://www.leeboonstra.dev/categories/Videos/"
              },{
                "@type": "ListItem",
                "position": 2,
                "name": "<%= post.title %>",
                "item": "https://www.leeboonstra.dev<%- url_for(post.path) %>"
              }]
            }
            </script>
        <% } if (item.name == "FAQs") { %>
          <script type="application/ld+json">
            { "@type": "Question",
            "name": "<%= post.title %>",
            "acceptedAnswer": {
              "@type": "Answer",
              "text": "<%= post.description %>"
            }
          }
          </script>
        <% } if (item.name == "Chatbots") { %>
          <script type="application/ld+json">
              { "@context": "https://schema.org", 
               "@type": "BlogPosting",
               "headline": "<%- truncate(post.title, {length: 107, omission: '...'}) %>",
               "image": [
               "/images/thumb_<%- post.featured %>",
               "/images/medium_<%- post.featured %>",
               "/images/large_<%- post.featured %>"
              ],
               "url": "http://www.example.com",
               "datePublished": "<%- post.date.toISOString() %>",
               "dateCreated": "<%- post.date.toISOString() %>",
               "dateModified": "<%- post.updated.toISOString() %>",
               "description": "<%= post.description %>",
               "speakable":
               {
                "@type": "SpeakableSpecification",
                "xpath": [
                  "/html/head/title",
                  "/html/head/meta[@name='description']/@content"
                  ]
                }
               }
              </script>
              <script type="application/ld+json">
               {
                "@context": "https://schema.org",
                "@type": "BreadcrumbList",
                "itemListElement": [{
                  "@type": "ListItem",
                  "position": 1,
                  "name": "Chatbots",
                  "item": "https://www.leeboonstra.dev/categories/Chatbots/"
                },{
                  "@type": "ListItem",
                  "position": 2,
                  "name": "<%= post.title %>",
                  "item": "https://www.leeboonstra.dev<%- url_for(post.path) %>"
                }]
              }
          </script>
        <%
        }
        })
        %>
        
      </div>
    </div>
</div>
 <% } %>



