<!DOCTYPE html>
<html class="no-js" lang="en" prefix="og: http://ogp.me/ns#" itemscope itemtype="https://schema.org/Blog">
<head>
  <meta charset="utf-8">

  <%
  var title = page.title;
  if (is_archive()){
    title = 'Archive';
    if (is_month()){
      title += ': ' + page.year + '/' + page.month;
    } else if (is_year()){
      title += ': ' + page.year;
    }
  } else if (is_category()){
    title = 'Conversational AI Category: ' + page.category;
  } else if (is_tag()){
    title = 'Conversational AI Tag: ' + page.tag;
  }

  // keywords.
  var keyWords = config.keywords ? config.keywords : config.title;
  %>
  <title>LeeBoonstra.dev | <% if (title) { %><%= title %> <% } else { %><%= config.title %> <% } %></title>
  
  <meta name="description" content="<% if (page.description) { %><%= page.description %> <% } else { %><%= config.description %> <% } %>">
  <meta name="keywords" content="<%= keyWords %> Lee Boonstra, Developer Advocate, Applied AI Engineer, O'Reilly Author, Apress Author, Writer, Google Engineer, Google">

  <script type="application/ld+json">
    {
     "@context": "https://schema.org/",
     "@type": "WebPage",
     "name": "LeeBoonstra.dev",
     "speakable":
     {
      "@type": "SpeakableSpecification",
      "xpath": [
        "/html/head/title",
        "/html/head/meta[@name='description']/@content"
        ]
      },
     "url": "https://www.leeboonstra.dev/"
     }
    </script>

  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="640">
  <link rel="canonical" href="https://www.leeboonstra.dev/">

  <meta name="theme-color" content="#fafafa">

  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
  <link rel="manifest" href="/manifest.json">  
  <link rel="alternate" href="/atom.xml" title="LeeBoonstra.dev | Developer blog" type="application/atom+xml">
  
  <meta name="robots" content="all">
  <meta name="yandex-verification" content="adf3dcb0d559ea5a">
  <meta http-equiv="x-ua-compatible" content="ie=edge">

  <link href="//plus.google.com/117712452932146916020" rel="author">
  <link rel="image_src" type="image/png" href="https://www.leeboonstra.dev/images/screen.jpg">
  <link rel="profile" href="//gmpg.org/xfn/11"><link rel="pingback" href="https://www.leeboonstra.dev">
  <meta property="og:type" content="website">
  <meta property="og:title" content="<% if (title) { %><%= title %> <% } else { %><%= config.title %> <% } %>">
  <meta property="og:url" content="https://www.leeboonstra.dev/">
  <meta property="og:site_name" content="<% if (title) { %><%= title %> <% } else { %><%= config.title %> <% } %>">
  <meta property="og:description" content="<% if (page.description) { %><%= page.description %> <% } else { %><%= config.description %> <% } %>">
  <meta property="og:locale" content="en">
  <meta property="og:image" content="https://www.leeboonstra.dev/images/screen.jpg">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:title" content="<% if (title) { %><%= title %> <% } else { %><%= config.title %> <% } %>">
  <meta name="twitter:description" content="<% if (page.description) { %><%= page.description %> <% } else { %><%= config.description %> <% } %>">
  <meta name="twitter:image" content="https://www.leeboonstra.dev/images/screen.jpg">
  <meta name="twitter:card" content="https://www.leeboonstra.dev/images/screen.jpg">
  <meta name="twitter:creator" content="@ladysign"></head>

  <link rel="preconnect" href="https://www.leeboonstra.dev">
  
  <link itemprop="mainEntityOfPage" href="https://www.leeboonstra.dev">
  <meta itemprop="author" content="Lee Boonstra">
  <meta itemprop="creator" content="Lee Boonstra">
  <meta itemprop="publisher" content="Lee Boonstra">

  <link type="text/plain" rel="author" href="https://www.leeboonstra.dev/humans.txt">
  <link rel="stylesheet" href="/main.css?v=1">

</head>
<body class="<%= page.title %> <%= page.class %>">

  <header class="shadow <%- is_home() ? 'home' : 'active' %> fixed-top">

    <div class="d-block w-100 headertop">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="iconmenu"></span>
      </button>
      <span class="navbar-brand">LeeBoonstra.dev</span>
      <form class="form-inline mt-2 mt-md-0 searchbar">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>

    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-light bg-light">

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">

          <% for (var prop in theme.menu){ %>
            <li class="nav-item icon<%= prop %> <%= is_current(theme.menu[prop]) ? 'active' : '' %> <%- is_home() ? 'home' : '' %> text-center">
              <a class="nav-link" href="<%- url_for(theme.menu[prop]) %>"><%= prop %></a>
            </li>
          <% } %>

        </ul>
      </div>
    </nav>
  </header>
