<div class="container videos">
    <div class="row justify-content-md-center">
      <div class="col">
        <h1><%-page.title-%></h1>
  
        <div class="card w-100 youtubeblock" >
          <div class="shadow-lg">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe id="youtubeFrame" class="embed-responsive-item" src="https://www.youtube.com/embed/Ob_Oc3U1vS4" allowfullscreen></iframe>
            </div>
          </div>
        </div>

        <% site.categories.findOne({name: 'Videos'}).posts.sort('date', -1).forEach(function(post) { %>
          <div class="card w-25 p-2 float-md-left youtube">
            <div class="shadow-sm">
              <img class="card-img-top" src="https://img.youtube.com/vi/<%-post.youtube-%>/0.jpg" alt="Watch on YouTube">
              <div class="card-body">
                <p class="card-text"><%- truncate(post.title, {length: 65, omission: '...'}) %></p>
              </div>
              <div class="foot">
                <a href="#" class="btn youtubeLink btn-primary stretched-link">
                  <span class="hidden youtubeId"><%-post.youtube-%></span>
                  Watch
              </a>
              </div>
            </div>
          </div>

          <script type="application/ld+json">
            {
              "@context": "http://schema.org/",
              "@type": "VideoObject",
              "name": "<%= post.title %>",
              "@id":  "https://www.youtube.com/embed/<%= page.youtube %>",
              "contentUrl": "https://www.youtube.com/embed/<%= page.youtube %>",
              "embedUrl": "https://www.youtube.com/embed/<%= page.youtube %>",
              "datePublished": "<%- post.date.toISOString() %>",
              "description" : "Video: <%- post.title %>",
              "thumbnailURL" : "https://img.youtube.com/vi/<%= page.youtube %>/0.jpg",
              "thumbnail" : "https://img.youtube.com/vi/<%= page.youtube %>/0.jpg",
              "uploadDate" : "<%- post.updated.toISOString() %>",
              "author": {
                "@type": "Person",
                "name": "Lee Boonstra"
              }
            }
        </script>


        <% }) %>
    
      </div>
    </div>
  </div>