<div class="container videos">
    <div class="row justify-content-md-center">
      <div class="col">
        <h1><%-page.title-%></h1>
  
        <div class="card w-100 youtubeblock" >
          <div class="shadow-lg">
            <div class="embed-responsive embed-responsive-16by9">
              <iframe id="youtubeFrame" class="embed-responsive-item" src="https://www.youtube.com/embed/O7JfSF3CJ84" allowfullscreen></iframe>
            </div>
          </div>
        </div>

        <% site.categories.findOne({name: 'Videos'}).posts.sort('date', -1).forEach(function(post) { %>
          <div class="card w-25 p-2 float-md-left youtube">
            <div class="shadow-sm">
              <img class="card-img-top" src="https://img.youtube.com/vi/<%-post.youtube-%>/mqdefault.jpg" alt="Watch on YouTube">
              <div class="card-body">
                <p class="card-text"><%- truncate(post.title, {length: 65, omission: '...'}) %></p>
              </div>
              <div class="foot">
                <a href="#" class="btn youtubeLink btn-primary stretched-link">
                  <span class="hidden youtubeId"><%-post.youtube-%></span>
                  Watch
              </a>
              </div>
            </div>
          </div>

        <script type="application/ld+json">
          {
            "@context": "https://schema.org",
            "@type": "VideoObject",
            "name": "<%= post.title %>",
            "description": "Video: <%= post.title %>",
            "thumbnailUrl": [
              "https://img.youtube.com/vi/<%= page.youtube %>/default.jpg",
              "https://img.youtube.com/vi/<%= page.youtube %>/0.jpg",
              "https://img.youtube.com/vi/<%= page.youtube %>/sddefault.jpg",
              "https://img.youtube.com/vi/<%= page.youtube %>/mqdefault.jpg",
              "https://img.youtube.com/vi/<%= page.youtube %>/hqdefault.jpg",
              "https://img.youtube.com/vi/<%= page.youtube %>/maxresdefault.jpg"
             ],
            "uploadDate": "<%- post.date.toISOString() %>",
            "contentUrl": "<%- url_for(post.path) %>",
            "embedUrl": "https://www.youtube.com/embed/<%= page.youtube %>"
          }
          </script>


        <% }) %>
    
      </div>
    </div>
  </div>