<div class="container writing">
  <div class="row justify-content-md-center">
      <div class="col">
        <h1><%-page.title %></h1>
        <p>Beside writing this blog, I’ve also published my work elsewhere.</p>
    
        <% site.categories.findOne({name: 'Writing'}).posts.forEach(function(post) { %>
        <div class="card w-25 p-2 float-md-left" >
          <div class="shadow-sm">
            <div class="card-body">
              
                <h2><%-post.title-%></h2>
                <%- post.excerpt %>
            </div>
          </div>
        </div>
        <script type="application/ld+json">
          { "@context": "http://schema.org", 
          "@type": "BlogPosting",
          "headline": "<%- post.title %>",
          "genre": "technology", 
          "datePublished": "<%- post.date.toISOString() %>",
          "dateCreated": "<%- post.date.toISOString()  %>",
          "dateModified": "<%- post.date.toISOString() %>",
          "publisher": {
            "@type": "Organization",
            "name": "Ladysign",
            "logo": "<%- config.url %>/images/screen.png"
          },
          "description": "Lee Boonstra's blog. <%- post.description %>",
          "mainEntityOfPage": "<%- post.permalink %>",
          "image": "<%- config.url %>/images/screen.png",
          "articleBody": "Lee Boonstra's blog. <%- post.description %>",
          "author": {
            "@type": "Person",
            "name": "Lee Boonstra",
            "url": "http://www.leeboonstra.dev"
          }
          }
          </script>
        <% }) %>  
    </div>
  </div>
</div>