<div class="container">
    <div class="row justify-content-md-center">
      <div class="col-8 blogcontent">
  
        <h1><%-page.title %></h1>
  
        <%- page.content %>

        <script type="application/ld+json">
          { "@context": "http://schema.org", 
          "@type": "BlogPosting",
          "headline": "<%- page.title %>",
          "genre": "technology", 
          "datePublished": "<%- page.date.toISOString() %>",
          "dateCreated": "<%- page.date.toISOString()  %>",
          "dateModified": "<%- page.date.toISOString() %>",
          "publisher": {
            "@type": "Organization",
            "name": "Lee Boonstra",
            "logo": "<%- config.url %>/images/screen.png"
          },
          "description": "Lee Boonstra's developer blog.",
          "mainEntityOfPage": "<%- post.permalink %>",
          "image": "<%- config.url %>/images/screen.png",
          "articleBody": "<%- post.description %>",
          "author": {
            "@type": "Person",
            "name": "Lee Boonstra",
            "url": "http://www.leeboonstra.com"
          }
          }
          </script>
  
      </div>
      <div class="col-4 photocol">
  
        <a href=""><img src="https://dummyimage.com/150x100/000/fff" class="rounded mx-auto d-block" alt="center"></a>
        <a href=""><img src="https://dummyimage.com/150x100/000/fff" class="rounded mx-auto d-block" alt="center"></a>
        <a href=""><img src="https://dummyimage.com/150x100/000/fff" class="rounded mx-auto d-block" alt="center"></a>
        <a href=""><img src="https://dummyimage.com/150x100/000/fff" class="rounded mx-auto d-block" alt="center"></a>
        
      </div>
    </div>
  </div>